*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration-line: none;
}

/* 最上层 */
div.header{
    width:100%;
    height:150px;
    background-color: rgb(238, 170, 44);
}
div.logo{
    margin-left: 60px;
}
input.text{
    width: 152px;
    height: 30px;
    border: none;
    padding: 0;
    text-indent: 15px;
    outline: none;
    float: left;
    background-color: orange;
    font-size: 13px;
}
input.submit{
    width:45px;
    height:30px;
    outline:none;
    float:left;
    color:white;
    background-color: rgb(34, 193, 241) ;
    padding:0;
    border:none;
    text-align: center;
    cursor: pointer;
}  
div.searchform{
    position:absolute;
    top:65px;
    right:300px;
    border: 2px solid rgb(34, 193, 241);
    border-radius: 50px;
    background-color:  rgb(34, 193, 241);
    overflow: hidden;
    width:200px;
    height:30px;
}

/* 下拉菜单 */
div.background{
    width:100%;
    height: 50.8px;
    background-color: rgb(34, 193, 241) ;
    text-align: center;
    z-index: 10;
}
button.dropbtn {
    background-color: rgb(34, 193, 241);
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}
button.dropbtn2 {
    background-color: rgb(34, 193, 241);
    color: white;
    padding: 15px 46px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}
div.dropdown {
    position: relative;
    display: inline-block;
}
div.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(34, 193, 241);
    min-width: 124px;
    z-index: 10;
}
div.dropdown-content a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: center;
}
div.dropdown-content a:hover {
    background-color: orange;
}
div.dropdown:hover .dropbtn {
    background-color:orange;
}
div.dropdown:hover .dropbtn2 {
    background-color:orange;
}

/* 轮播图 */
div.banner{
    width:1519px;
    height: 500px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
}
div.fourimg{
    width:99999px;
    display: flex;
    position: relative;
}
div.indications{
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 50%;
    /* 向左移动自身的50% */
    transform: translateX(-50%);
    background-color: rgb(240, 235, 235);
    height: 60px;
    opacity: 0.6;
    border-radius: 20px;
}
div.active,div.inactive{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    width:40px;
    height: 15px;
    text-align: center;
    margin-top: 13px;
    cursor: pointer;
}
div.active{
    background-color: orange;
}
div.inactive{
    background-color: rgb(83, 83, 83);
}
div.prev{
    position: absolute;
    left:20px;
    top:230px;
    cursor: pointer;
}
div.next{
    position: absolute;
    right:20px;
    top:240px;
    cursor: pointer;
}

/* 第二行左边栏 */
div.leftpoem{
    height: 255px;
    width:400px;
    border-radius: 12px;
    overflow: hidden;  
    float: left;
    margin-left: 250px;
    margin-top: 30px;
    box-shadow: 0 0 5px grey;
}
div.tittle{
    float:left; 
}
button.poem1{
    background-color:orange;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:200px;
    outline: none;
}
div.shiju2{
    display:none;
}
button.poem1:hover{
    background-color: rgb(255, 123, 0);}

a.poem2{
    font-size:13px;
    float:left;
    text-indent: 10px;
    color:black;
}
a.poem3{
    font-size: 13px;
    float: right;
    color:black;
}
div.shiju{
    width:390px;
    height:150px;
    line-height: 35px;
    margin-top: 50px;
}
a.poem2:link,a.poem3:link{
    color:black;
}
a.poem2:visited,a.poem3:visited{
    color:black;
}
a.poem2:hover,a.poem3:hover{
    color:red;
}
a.poem2:active,a.poem3:active{
    color:red;
}

/* 第二行中间栏 */
div.center{
    position: relative;
    width: 280px;
    height: 250px;
    overflow: hidden; 
    border-radius: 12px;
    border: solid 4px orange;
    border-radius: 12px;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    box-shadow: 0 0 5px grey;
    margin-bottom: 20px;
}
div.center1{
    position: relative;
    width: 9999px;
    display: flex;
    overflow: hidden;
}
div.center2{
    width:280;
    word-spacing: 54px;
    text-align: center;
    margin-bottom: 0;
}
div.center3{
    position: relative;
    overflow: hidden;
    text-align: center;
}
div.center3 img{
    float: left;
    margin-left: 7px;
    cursor:pointer;
}
img.img1{
    border: solid 3px  rgb(255, 123, 0);
}
img.img2{
    border: solid 3px  rgb(204, 204, 204);
}
img.smallarrow{
    opacity: 0;
}
img.smallarrow1{
    opacity: 1;
}
div.center4{
    position: absolute;
    top: 155px;
    width: 100%;
    height:25px;
    background-color: black;
    opacity: 0.7;
}
div.center4 p{
    font-size: 17px;
    color: rgb(255, 253, 253);
    text-indent: 25px;
}
div.center5{
    display: none;
}

/* 第二行右边栏 */
div.three{
    width:250px;
    height:252px;
    overflow: hidden;
    float: right;
    margin-right: 310px;
    margin-top: 30px;
    border: solid 3px orange;
    box-shadow: 0 0 5px grey;
    margin-bottom: 20px;

}
ul.threepoems{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: orange;
}
span.cyq a{
    display: block;
    color:white;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
}
span.cyq a:hover{
    background:rgb(255, 123, 0);
}
div.yincang{
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    display: none;
}
div.yincang a{
    display: block;
    color:black;
    text-indent: 12px;
    text-decoration: none;
    font-size: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
div.yincang a:hover{
    color:red;
}
div.yincang1{
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
}
div.yincang1 a{
    display: block;
    color:black;
    text-indent: 12px;
    text-decoration: none;
    font-size: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
div.yincang1 a:hover{
    color:red;
}

/* 第三行左边栏 */
div.move{
    width:680px;
    height: 120px;
    border: solid 3px orange;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-left: 250px;
    margin-bottom: 40px;
}
div.move_son{
    width:9999px;
    display: flex;
    position: relative;
}
div.move_son img{
    margin-left:10px;
    margin-right: 10px;
}
div.goleft{
    position: absolute;
    width: 15px;
    height:25px;
    background-color: white;
    top: 50px;
    left: 12px;
    border-radius: 2px;
    cursor: pointer;
}
div.goright{
    position: absolute;
    width: 15px;
    height:25px;
    background-color: white;
    top: 50px;
    right: 12px;
    border-radius: 2px;
    cursor: pointer;
}
div.goleft p,div.goright p{
    font-size: 18px;
    color: black;
    text-align: center;
}

/* 第三行右边栏 */
div.fourdogs{
    position: absolute;
    top: 1010px;
    right: 320px;
    width: 245px;
    height:125px;
    box-shadow: 0 0 5px grey;
}
div.fourdogs img{
    cursor: pointer;
}
div.close{
    z-index: 30;
    position: fixed;
    top: 140px;
    right: 340px;
    display: none;
    cursor: pointer;
}
div.bigdog{
    position: fixed;
    z-index: 20;
    top: 150px;
    right: 350px;
    border: solid 4px rgb(196, 195, 195);
    display: none;
}


/* 最底层 */
div.footer{
    width:100%;
    height:200px;
    background-color: rgb(238, 170, 44);
    position: relative;
}
div.up{
    position: absolute;
    top: 20px;
    left: 300px;
}
div.end{
    position: absolute;
    float: right;
    right: 400px;
    top: 25px;
    line-height: 50px;
}
a.end_red{
    color: black;
}
a.end_red:hover{
    color: red;
}
div.bigbig1{
    width: 100%;
    height: 1500px;
    background:rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    display: block;
    z-index: 15;
}

